### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

### UV ###
.python-version


__pypackages__/

# Environments
.env
.venv


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/

# Logs
*.log

# Uvicorn
*.pid

# FastAPI static
static/